:root {
    /*  Primary */

--Orange: hsl(25, 97%, 53%);
    /*  Neutral */
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to bottom , var(--Medium-Grey) , var(--Dark-Blue));
    font-family: Arial, Helvetica, sans-serif;
    min-height:      100vh;
    display:         flex;
    align-items:     center;
    justify-content: center;
}
/* setting ALl Elemaen */

button {
    width:         4rem;
    height:        4rem;
    border-radius: .5rem;
    cursor:         pointer;
    border:         none;
    background: var(--Orange);
    color:      var(--Medium-Grey);
}

/* main-con-selected */

main {
    width: 30rem;
    background: linear-gradient(to bottom, var(--Dark-Blue),var(--Very-Dark-Blue) ); 
    border-radius: 1rem;
    padding:       2rem;
}
/* icon-star */
.con-icon-star {
    width:       3.5rem;
    height:      3.5rem;
    padding:     1rem;
    cursor:      pointer;
    transition: 2s ease;
    border-radius: 50%;
    background: var(--Dark-Blue);       
}

.icon-star {
    width: 1.5rem;
    height: 1.5rem;
}

.con-icon-star:hover {
    transition: 2s ease-in-out;
    background: var(--White);
}
/* content */
.content h1 {
    font-weight: 700;
    margin-top: 1.4rem;
    color: var(--White);
}

.content p {
    margin:     1.5rem 0;
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--Light-Grey);
}
/* con-feeback */
.number-feedback {
    margin:  2rem 0;
    display:     flex;
    align-items: center;
}

.number-feedback section {
    margin-right: 1rem;
}
/* btn-feeback */
.btn-feeback-number {
    border-radius: 100%;
}

.btn-feeback-number {
    background: var(--Dark-Blue);
    font-weight: 700;
    font-size: 1rem;
    transition: .8s ease;
}

.btn-feeback-number:focus{
    transition: .8s ease;
    background: var(--Medium-Grey);
    color:      var(--White);
}

.btn-feeback-number:hover {
    transition: .8s ease;
    background: var(--Orange);
    color:      var(--White);
}

/* btn sumit */

.btn-submit{
    border-radius: 2rem;
    width: 100%;
    color: var(--White);
}
.btn-submit:hover{
    transition: .8s ease;
    background: var(--White);
    color:      var(--Orange);
}


/* main selected Thank */

.selected-thank {
    text-align: center;
}
.con-selected {
    display: flex;
    justify-content: center;
}
.selected {
    width:          14rem;
    height:         2.5rem;
    padding:        .5rem 0;
    border-radius: 2rem;
    color: var(--Orange);
    background: var(--Dark-Blue);
}
/* js clase hidden  */
.hidden {
    overflow: hidden;
    display: none;
}

/* moblie */
@media only screen and (max-width: 520px) {
    main {
        height: auto;
        width: 80%;
    }
    .btn-feeback-number {
        width: 3rem;
        height: 3rem;
    }
}

@media only screen and (max-width: 450px) {
    .btn-feeback-number {
        width: 2rem;
        height: 2rem;
    }
}